.wrapper {

  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 5%;
  box-sizing: border-box;
  justify-content: center;
  .content {
    height: 35%;
    width: 30%;
    background-color: #1C1C24;
    position: relative;


    .image {

      width: 100%;
      height: 65%;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }


    }


    .information{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 35%;
      width: 100%;
      padding-top: 10px;


      .text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        padding-top: 2px;
        padding-bottom: 4px;



      }
      .tags{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 0.65rem;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #1E6AE3;


      }

    }
  }


}



.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.75);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 4px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

}

.content:hover .overlay{
  height: 80%;

}
